@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nigerian Elite<br />
    Lagos, Nigeria<br />
    <abbr title="Phone">P:</abbr>
    +234-806-312-5227
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:michael@olafusimichael.com">michael@olafusimichael.com</a><br />
</address>