<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://nigerianelite1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nigerianelite1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NigerianElite1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NigerianElite1</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:nigerianelite.database.windows.net,1433;Initial Catalog=NigerianElite1_db;User ID=olafusimichael@nigerianelite;Password=Shelena$9639" Name="Data Source=tcp:nigerianelite.database.windows.net,1433;Initial Catalog=NigerianElite1_db;User Id=olafusimichael@nigerianelite;Password=Shelena$9639;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NigerianElite.Models.ApplicationDbContext, NigerianElite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StocksContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="NigerianElite.Models.StocksContext, NigerianElite" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StocksData" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=URBIZEDGE;Initial Catalog=MVC;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StocksData_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=URBIZEDGE;initial catalog=MVC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:nigerianelite.database.windows.net,1433;Initial Catalog=NigerianElite1_db;User Id=olafusimichael@nigerianelite;Password=Shelena$9639;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StocksContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)StocksData-Web.config Connection String" />
  </ItemGroup>
</Project>